.arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0px;

}

.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.arrow-container p {
    font-family: Simplon Norm;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color:#BFC8CD;  
    text-decoration: underline;  
}

.arrow span {
    margin-bottom: 20px;
}

.arrow-container label {
    margin: 20px;
    height: auto;
}

.arrow-container input{
    padding: 20px;
}
