.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 462px;
    top: 652px;
    left: 412px;
    gap: 0px;
    opacity: 0px;
    
}

.image {
    width: 300px;
    height: 399px;
    gap: 0px;
    opacity: 0px;    
}

.category-price {
    display: flex;
    gap: 20px;
}

/* @media only screen and (max-width:600px){
    .image {
        width: 168.75px;
        height: 277px;
        top: 602px;
        left: 0.13px;
        gap: 0px;
        opacity: 0px;
    }
} */