* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Simplon Norm;
}

.header-container {
    width: 100%;
    height: auto;
    padding-top: 32px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid #E5E5E5;
    opacity: 0px;
    background: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}


.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon-container svg{
    padding-left: 10px;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
}

.nav-container {
    display: inline;
    justify-content: center;
    align-items: center;
}

.nav-container ul {
    list-style-type: none;
}

.nav-container  ul li {
    display: inline;
    margin-right: 20px;
}

.nav-container li a {
    color: #252020;
    text-decoration: none;
    font-family: Simplon Norm;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
}


.logo-container .svg-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-container .menu-line {
    height: 36px;
    width: 36px;
    text-align: center;
}

.nav-container a:hover{
    color: red;
}


@media only screen and (max-width: 600px){

    .header-container {
        width: max-content;
        height: auto;
    }

    * {
        padding: 0;
        margin: 0;
    }

    .nav-container {
        visibility: hidden;
    }


    .icon {
        visibility: hidden;
    }

    .logo-container {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .menu-line {
        visibility: hidden;
    }

}